<!-- 
This file defines HTML that can be imported into any template by adding:

include "partials/button_alert.html" inside of curly braces with % on either
side.

Defines an alert screen with header, body text and two buttons. To call this
in a script in another file:

result = await showButtonAlert(header, body, alertButtonText, cancelButtonText)

All inputs are strings. Function returns true if user clicks the alert button,
returns false if the user clicks the cancel button.

Calling hideButtonAlerts() will remove the alert from the screen regardless
of whether the user has clicked a button.

Created by Jacob Slabosz on Oct. 2, 2025
Last modified Oct. 2, 2025 
-->

<style>
    #alert-screen {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        background-color: rgba(255, 255, 255, 0.8);
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 9998;
    }

    .alert-container {
        background-color: var(--main-bg-color);
        border-radius: var(--main-border-radius);
        box-shadow: var(--main-box-shadow);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 1rem;
        max-width: 50%;
    }

    .button-container {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

</style>

<div id="alert-screen">
    <div class="alert-container">
        <h3 style="margin-top: 1rem;" id="alert-header">Alert</h3>
        <p id="alert-text">
            Message
        </p>
        <div class="button-container">
            <button id="cancel-button" class="button-secondary">
                Text
            </button>
            <button id="alert-button" class="button-primary">
                Text
            </button>
        </div>
    </div>
</div>

<script>
    // Displays a full-screen alert message with two buttons.
    // Returns true if the user clicks alert button, false if the user clicks cancel button
    // Need to await the response of this function when calling it
    function showButtonAlert(header, body, alertButtonText, cancelButtonText) {

        return new Promise((resolve) => {
            const alertScreen  = document.getElementById("alert-screen");
            const cancelButton = document.getElementById("cancel-button");
            const alertButton  = document.getElementById("alert-button");
            const headerText   = document.getElementById("alert-header");
            const bodyText     = document.getElementById("alert-text");

            // Show the alert, set the text for each element
            alertScreen.style.display = "flex";
            if (header) headerText.innerText = header;
            if (body) bodyText.innerText = body;
            if (alertButtonText) alertButton.innerText = alertButtonText;
            if (cancelButtonText) cancelButton.innerText = cancelButtonText;

            alertButton.onclick = () => {
                alertScreen.style.display = "none";
                resolve(true);
            };

            cancelButton.onclick = () => {
                alertScreen.style.display = "none";
                resolve(false);
            };
        });
    }

    function hideButtonAlert() {
        document.getElementById("alert-screen").style.display = "none";
    }
</script>