<!-- 
This file defines Jinja Macros that can be imported into any template by adding:

    include "macros/form.html" 

inside of curly braces with % on either side. TO GET PROPER STYLING, you will
need to import the associated CSS file located in /static/macros. 

To define a form, inside of curly braces with % on either side, put:

    call form('xyz', 'abc', '123', '789')

where xyz should be replaced with the ID of the form. ABC can be replaced with
the name of a class to customize the styling, though this is optional. 123 must
be replaced with the enctype of the form (most commonly, this will be 
application/x-www-form-urlencoded). 789 should be replaced with the name of the
function to be called when the form is submitted, though this is optional. 
A call must end with:

    endcall

inside of curly braces with a % on either side. Inside of the call/endcall block, 
you can use the same structure to call another macro in this file. There are
macros specific to each input type. To accss a form with JavaScript, access by its
ID. To access a field within a form, access the form, then append:

    .querySelector("#xyz")

where xyz should be replaced with the name of the field.

Created by Jacob Slabosz on Oct. 2, 2025
Last modified Oct. 2, 2025 
-->

<!-- Macro to make a form (Jinja) -->
{% macro form(id, class, enctype, on_submit) %}
    <form class="form {{ class }}" id="{{ id }}" enctype="{{ enctype }}" onsubmit="{{ on_submit }}">
        {{ caller() }}
    </form>
{% endmacro %}

<!-- Macro to create a text input inside of a form (Jinja) -->
<!-- name and label are strings, required is boolean. -->
<!-- class is optional and is the name of a class. -->
<!-- Placeholder and subtext are optional. -->
<!-- alt_type optionally lets you choose other HTML input 
     types based on text (like 'url', 'date', 'datetime-local') -->
{% macro text_input(name, label, required, class, placeholder, subtext, alt_type) %}
    <div class="form-row {{ class }}" id="formfield-{{ name }}">
        <div>
            <label for="{{ name }}" class="field-label">
                {{ label }}
            </label>
            {% if subtext %}
                <p class="subtext">{{ subtext }}</p>
            {% endif %}
        </div>
        <input 
            {% if alt_type %}
                type    = "{{ alt_type }}"
            {% else %}
                type    = "text"
            {% endif %}
            id      = "{{ name }}" 
            class   = "text-input" 
            name    = "{{ name }}"

            {% if placeholder %}
                placeholder = "{{ placeholder }}"
            {% endif %}

            {% if required %}
                required
            {% endif %}
        >
    </div>
{% endmacro %}

<!-- Macro to create a radio input inside of a form (Jinja) -->
<!-- name and label are strings, required is boolean. -->
<!-- class is optional and is the name of a class. -->
<!-- Subtext is optional. -->
<!-- options is a list of strings.  -->
<!-- option_container is the name of a class to override
     the styling of the options (like making them horizontal
     instead of vertical.) -->
{% macro radio_input(name, label, required, class, subtext, options, option_container) %}
    <div class="form-row {{ class }}" id="formfield-{{ name }}">
        <div>
            <label for="{{ name }}" class="field-label">
                {{ label }}
            </label>
            {% if subtext %}
                <p class="subtext">{{ subtext }}</p>
            {% endif %}
        </div>
        <div class="radio-input-container {{ option_container }}">
            {% for option in options %}
                <div>
                    <input 
                        type="radio" 
                        id="{{ option }}" 
                        name="{{ name }}-options" 
                        value="{{ option }}" 
                        class="radio-input"

                        {% if required %}
                            required
                        {% endif %}
                    >
                    <label for="{{ option }}" class="radio-label">
                        {{ option }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

<!-- Macro to create a select input inside of a form (Jinja) -->
<!-- name and label are strings, required is boolean. -->
<!-- class is optional and is the name of a class. -->
<!-- Subtext is optional. -->
<!-- options is a list of strings.  -->
{% macro select_input(name, label, required, class, subtext, options) %}
    <div class="form-row {{ class }}" id="formfield-{{ name }}">
        <div>
            <label for="{{ name }}" class="field-label">
                {{ label }}
            </label>
            {% if subtext %}
                <p class="subtext">{{ subtext }}</p>
            {% endif %}
        </div>
        <div class="select-input">
            <select name="{{ name }}" id="{{ name }}">
                <option value="" disabled selected>Select...</option>
                {% for option in options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <i class="bi bi-caret-down-fill select-dropdown-icon"></i>
        </div>
    </div>
{% endmacro %}

{% macro textarea_input(name, label, required, class, placeholder, subtext) %}
    <div class="form-row {{ class }}" id="formfield-{{ name }}">
        <div>
            <label for="{{ name }}" class="field-label">
                {{ label }}
            </label>
            {% if subtext %}
                <p class="subtext">{{ subtext }}</p>
            {% endif %}
        </div>
        <textarea 
            id      = "{{ name }}" 
            class   = "textarea-input" 
            name    = "{{ name }}"

            {% if placeholder %}
                placeholder = "{{ placeholder }}"
            {% endif %}

            {% if required %}
                required
            {% endif %}
        ></textarea>
    </div>
{% endmacro %}

<!-- Macro to create a submit button for a form (Jinja) -->
<!-- text and label are strings, class is the name of a class -->
{% macro submit_button(text, label, class) %}
    <button class="button-primary submit-button {{ class }}" type="submit" id="{{ label }}">{{ text }}</button>
{% endmacro %}