:root {
    /* Override Bootstrap's default settings */
    --bs-font-sans-serif: futura-pt, system-ui, sans-serif;
    --bs-body-font-weight: 300;
    --bs-body-color: #212121;

    /* Define global fonts */
    font-family: futura-pt, system-ui, sans-serif;
    font-weight: 300;
    font-style: normal;

    /* Define global colors as variables */
    --main-bg-color: #FFFFFF;
    --main-text-color: #212121;
    --main-lt-gray-color: #EEEEEE;
    --main-dk-gray-color: #212121;
    --main-accent-color: #F99F20;

    /* Define global corner radius */
    --main-border-radius: 1rem;
}

a {
    color: var(--main-accent-color);
    overflow-wrap: anywhere; /* Makes really long URLs wrap to the next line */
}

p {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

h1 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
}

h2 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
}

h3 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}

h4 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}

/* Specific styling for mobile (Note that the Central Backend is intentionally optimized for desktop and laptop displays) */
@media (max-width: 480px) {
    .container {
        width: 98%;
    }
}
