{# Likely to be deprecated soon #}

{% extends 'base.html' %}

{% block title %}
Breaking News
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/macros/form.css">
<style>
    .breaking-form {
        gap: 1rem;
    }
    .breaking-form-row {
        flex-direction: column;
        align-items: flex-start;
    }
    .switch-container {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 0.5rem;
    }
</style>
{% endblock %}

{% import "macros/form.html" as form %}
{% include "partials/loading.html" %}
{% include "partials/text_alert.html" %}
{% include "partials/info_bar.html" %}

{% block content %}
<h1>Breaking News Portal</h1>

<hr style="margin-bottom: 2rem;">

<section class="section-container">
    <div class="section-header">
        <h2 style="margin-bottom: 0">Submit Story</h2>
    </div>

    <div class="inner-container">
        {% call form.form(id="breakingNewsForm", class="breaking-form", enctype="application/x-www-form-urlencoded", on_submit="return submitForm(event)") %}
            {{ form.text_input( 
                name="url",
                label="Story URL",
                required=true,
                placeholder="",
                class="breaking-form-row"
            ) }}
            <div class="switch-container">
                {{ form.switch_input( 
                    name="redditCheckbox",
                    label="Post to Reddit?",
                    class="breaking-form-row"
                ) }}
                {{ form.switch_input( 
                    name="twitterCheckbox",
                    label="Post to Twitter/X?",
                    class="breaking-form-row"
                ) }}
            </div>
            {{ form.submit_button(text="Submit", label="submitButton") }}
        {% endcall %}
    </div>
</section>

<hr>

<section class="section-container">
    <div class="section-header">
        <h2 style="margin-bottom: 0">Recent Stories</h2>
    </div>

    <div class="table-container">
        <table>
            <tr>
                <th>URL</th>
                <th>Date Submitted</th>
                <th>Date Published</th>
                <th>Social Media Platforms</th>
            </tr>
            {% for story in stories %}
            <tr>
                <td><a href="{{ story.url }}">{{ story.url }}</a></td>
                <td>{{ story.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                <td>
                    {% if story.published_at %}
                    {{ story.published_at }}
                    {% else %}
                    Not published
                    {% endif %}
                </td>
                <td>
                    {% if story.post_to_reddit %}
                    Reddit
                    {% endif %}
                    {% if story.post_to_twitter %}
                    Twitter
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        const msg = sessionStorage.getItem("infoBarMessage");
        if (msg) {
            showInfoBar(msg);
            sessionStorage.removeItem("infoBarMessage"); // Clear it after showing
        }
    });

    async function submitForm(event) {
        event.preventDefault();
        console.log("Submitting...");

        showLoading("Submitting...");

        const url = document.getElementById('url').value;
        const post_to_reddit = document.getElementById('redditCheckbox').checked;
        const post_to_twitter = document.getElementById('twitterCheckbox').checked;

        let endpoint = '/breaking/submit';
        const payload = {
            _csrf_token: "{{ csrf_token() }}",
            url: url,
            post_to_twitter: post_to_twitter,
            post_to_reddit: post_to_reddit,
        };

        const response = await fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(payload),
        });
        
        // Check if it was successful
        if (response.status === 200) {
            // Trigger a reload of the window
            sessionStorage.setItem("infoBarMessage", "Sent successfully."); // Safe so we can display after reload
            window.location.reload();
        } else {
            // Alert of the error
            console.log("Submission failed!");
            const message = await response.text();
            console.error(message);
            await showTextAlert(header="There was an error:", body=message, buttonText="Dismiss");
            hideLoading();
        }
    }
</script>
{% endblock %}
