{% extends 'base.html' %}

{% block title %}
Breaking
{% endblock %}

{% block content %}
<style>
    .container {
        width: 80%;
        margin-bottom: 10px;
    }
    .form-control, .form-select {
        border-color: #a8a8a8;
    }
</style>

<div class="container">
    <form id="storyForm" enctype="application/x-www-form-urlencoded">
        <div class="row my-4">
            <label for="url" class="col-sm-1 col-form-label">Story URL</label>
            <div class="col-sm-11">
                <input type="text" id="url" class="form-control" name="url">
            </div>
        </div>
    
        <div class="row my-4">
            <div class="col-sm-1">
                <label for="post_to" class="col-form-label">Publish to:</label>
            </div>
            
            <div class="col-sm-2">
                <div id="post_to" class="form-check">
                    <input type="checkbox" id="redditCheckbox" class="form-check-input" name="post_to_reddit" value="1">
                    <label class="form-check-label" for="redditCheckbox">Reddit</label>
                </div>
            
                <div id="post_to" class="form-check">
                    <input type="checkbox" id="twitterCheckbox" class="form-check-input" name="post_to_twitter" value="1">
                    <label class="form-check-label" for="twitterCheckbox">Twitter</label>
                </div>
            </div>
            
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
            </div>
        </div>
    </form>
</div>

<div class="container d-flex justify-content-between align-items-center">
    <h3>Recent Stories</h3>
</div>

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>URL</th>
            <th>Date Submitted</th>
            <th>Date Published</th>
            <th>Social Media Platforms</th>
        </tr>
        {% for story in stories %}
        <tr>
            <td><a href="{{ story.url }}">{{ story.url }}</a></td>
            <td>{{ story.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            <td>
                {% if story.published_at %}
                {{ story.published_at }}
                {% else %}
                Not published
                {% endif %}
            </td>
            <td>
                {% if story.post_to_reddit %}
                Reddit
                {% endif %}
                {% if story.post_to_twitter %}
                Twitter
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>


<script>

    async function submitForm() {
        const url = document.getElementById('url').value;
        const post_to_reddit = document.getElementById('redditCheckbox').checked;
        const post_to_twitter = document.getElementById('twitterCheckbox').checked;

        let publishedAt = '';
        let platforms = '';
       

        if (post_to_reddit) {
            platforms += 'Reddit ';
            publishedAt = new Date().toLocaleString();
            
        }
        if (post_to_twitter) {
            platforms += 'Twitter';
            publishedAt = new Date().toLocaleString();
            
        }

        addToDataTable(url, publishedAt, platforms);
    }

    

    function addToDataTable(url, publishedAt, platforms) {
        const table = document.querySelector('.table');
        const newRow = table.insertRow();
        newRow.innerHTML = `
            <td><a href="${url}">${url}</a></td>
            <td>${new Date().toLocaleString()}</td>
            <td>${publishedAt}</td>
            <td>${platforms}</td>
        `;
    }

</script>
{% endblock %}

<!-- <script>
    const endpoint = "/breaking/submit";
    const endpointReddit = "/breaking/publish_reddit";
    const endpointTwitter = "/breaking/publish_twitter";

    async function submitForm() {
        const url = document.getElementById('url').value;
        const post_to_reddit = document.getElementById('redditCheckbox').checked;
        const post_to_twitter = document.getElementById('twitterCheckbox').checked;

        let publishedAt = '';
        let platforms = '';

        
        const title = await fetchStoryTitle(url);

        if (post_to_reddit) {
            await publishToReddit(title, url);
            platforms += 'Reddit ';
            publishedAt = new Date().toLocaleString();
        }
        if (post_to_twitter) {
            await publishToTwitter(title, url);
            platforms += 'Twitter';
            publishedAt = new Date().toLocaleString();
        }

        addToDataTable(title, publishedAt, platforms);
    }


    async function publishToReddit(title, url) {
        const response = await fetch(endpointReddit, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `title=${encodeURIComponent(title)}&url=${encodeURIComponent(url)}&_csrf_token={{ csrf_token() }}`
        });

        if (!response.ok) {
            const errorMessage = await response.text();
            console.error('Failed to publish to Reddit:', errorMessage);
        }
    }

    async function publishToTwitter(title, url) {
        const response = await fetch(endpointTwitter, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `title=${encodeURIComponent(title)}&url=${encodeURIComponent(url)}&_csrf_token={{ csrf_token() }}`
        });

        if (!response.ok) {
            const errorMessage = await response.text();
            console.error('Failed to publish to Twitter:', errorMessage);
        }
    }

    function addToDataTable(title, publishedAt, platforms) {
        const table = document.querySelector('.table');
        const newRow = table.insertRow();
        newRow.innerHTML = `
            <td>${title}</td>
            <td>${new Date().toLocaleString()}</td>
            <td>${publishedAt}</td>
            <td>${platforms}</td>
        `;
    }
</script> -->
