{% extends 'base.html' %}

{% block extra_head %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&v=3.exp&sensor=false&libraries=places&callback=initAutocomplete"></script>
{% endblock %}

{% block title %}
Map Points
{% endblock %}

{% block content %}
<style>
    .container {
        width: 80%;
        margin-bottom: 10px;
    }
    .form-control, .form-select {
        border-color: #a8a8a8;
    }
    .image {
        max-width: 350px;
        overflow: hidden;
    }
</style>

<div class="container">
    <h2 class="my-4">Submit Map Point</h2>
    <form id="pointForm" enctype="application/x-www-form-urlencoded">
        <div class="row my-4">
            <label for="title" class="col-sm-1 col-form-label">Story Title</label>
            <div class="col-sm-11">
                <input type="text" id="title" class="form-control" name="title" required>
            </div>

            <label for="url" class="col-sm-1 col-form-label">Story URL</label>
            <div class="col-sm-11">
                <input type="text" id="url" class="form-control" name="url" required>
            </div>

            <label for="image" class="col-sm-1 col-form-label">Image</label>
            <div class="col-sm-11">
                <input type="text" id="image" class="form-control" name="image">
            </div>

            <label for="address" class="col-sm-1 col-form-label">Address</label>
            <div class="col-sm-11">
                <input type="text" id="address" class="form-control" name="address" required>
            </div>

            <!-- <label for="x" class="col-sm-1 col-form-label">Latitude</label> -->
            <input type="hidden" id="lat" name="lat">

            <!-- <label for="y" class="col-sm-1 col-form-label">Longitude</label> -->
            <input type="hidden" id="long" name="long">

            <label for="start_date" class="col-sm-1 col-form-label">Start Date</label>
            <div class="col-sm-11">
                <input type="datetime-local" id="start_date" class="form-control" name="start_date">
            </div>

            <label for="end_date" class="col-sm-1 col-form-label">End Date</label>
            <div class="col-sm-11">
                <input type="datetime-local" id="end_date" class="form-control" name="end_date">
            </div>
        </div>

        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
        </div>

        </div>
    </form>
<!-- </div> -->

<!-- <div class="container d-flex justify-content-between align-items-center"> -->
    <h3 class="container" style="margin-top: 2em;">Recent Points Added</h3>
<!-- </div> -->

<!-- <div class="container"> -->
    <table class="container table table-bordered" id="pointTable">
        <tr>
            <th>URL</th>
            <th>Title</th>
            <th>Image</th>
            <th>Address</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>UID</th>
            <th>Action</th>
        </tr>
        {% for point in recent_points %}
        <tr>
            <td><a href="{{ point.url }}">{{ point.url }}</a></td>
            <td>{{ point.title }}</td>
            <td class="image">{{ point.image }}</td>
            <td><a href= "https://www.google.com/maps/search/{{point.address}}" target="_blank">{{ point.address }}</a></td>
            <td>{{ point.lat }}</td>
            <td>{{ point.long }}</td>
            <td>{{ point.start_date }}</td>
            <td>{{ point.end_date }}</td>
            <td>{{ point.uid }}</td>
            <td>
                <button class="btn btn-primary modify-button" onclick="deletePoint({{point.uid}})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>

    function initialize() {
        var input = document.getElementById('address');
        var autocomplete = new google.maps.places.Autocomplete(input);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                // document.getElementById('city').value = place.name;
                document.getElementById('lat').value = place.geometry.location.lat();
                document.getElementById('long').value = place.geometry.location.lng();
            });
    }

    google.maps.event.addDomListener(window, 'load', initialize);


    window.addEventListener("load", function() {
        var now = new Date();
        var offset = now.getTimezoneOffset() * 60000;
        var adjustedDate = new Date(now.getTime() - offset);
        var adjustedDatePlusHour = new Date(now.getTime() - offset + 3600000);
        var formattedDate = adjustedDate.toISOString().substring(0,16);
        var formattedDatePlusHour = adjustedDatePlusHour.toISOString().substring(0,16);

        var startDateField = document.getElementById("start_date");
        startDateField.value = formattedDate;
        var endDateField = document.getElementById("end_date");
        endDateField.value = formattedDatePlusHour;
    });

    async function submitForm() {
        let endpoint = '/map-points/';
        const title = document.getElementById('title').value;
        const url = document.getElementById('url').value;
        const image = document.getElementById('image').value;
        const address = document.getElementById('address').value;
        const lat = document.getElementById('lat').value;
        const long = document.getElementById('long').value;
        const start_date = document.getElementById('start_date').value;
        const end_date = document.getElementById('end_date').value;

        if (!lat || !long) {
            alert("Please enter a valid address.");
            return;
        } else if (!url || !start_date || !end_date) {
            alert("Please fill out all fields before submitting.");
            return;
        }
        
        const startDateTime = new Date(start_date);
        const endDateTime = new Date(end_date);

        if (startDateTime >= endDateTime) {
            alert("End date must be after the start date.");
            return;
        }


        const response = await fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `_csrf_token={{ csrf_token() }}&url=${url}&title=${title}&image=${image}&address=${address}&lat=${lat}&long=${long}&start-date=${start_date}&end-date=${end_date}`,
        });
        
        if (response.status === 200) {
            window.location.reload();
        } else {
            console.log("Adding map point to db failed!");
            const message = await response.text();
            console.error(message);
            alert(message);
            button.disabled = false;
            button.innerHTML = 'Submit';
        }

        addToDataTable(url, lat, long, start_date, end_date);
    }

    function addToDataTable(url, lat, long, start_date, end_date) {
        const table = document.querySelector('.table');
        const newRow = table.insertRow(1);
        newRow.innerHTML = `
            <td><a href="${url}">${url}</a></td>
            <td>${lat}</td>
            <td>${long}</td>
            <td>${start_date}</td>
            <td>${end_date}</td>
        `;

        sortTable();
    }

    async function deletePoint(uid){
        console.log("deleting point!");
        let endpoint = `/map-points/` + uid + `/delete`; 
        const response = await fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `_csrf_token={{ csrf_token() }}`
        });
        console.log(uid)

        if (response.ok) {
            window.location.reload();
        } else {
            const message = await response.text();
            console.error(message);
            alert('Error deleting the link: ' + message);
        }
    }
</script>

{% endblock %}
