{% extends 'base.html' %}

{% block title %}
Map Points
{% endblock %}

{% block content %}
<style>
    .container {
        width: 80%;
        margin-bottom: 10px;
    }
    .form-control, .form-select {
        border-color: #a8a8a8;
    }
</style>

<div class="container">
    <h2 class="my-4">Submit Map Point</h2>
    <form id="pointForm" enctype="application/x-www-form-urlencoded">
        <div class="row my-4">
            <label for="url" class="col-sm-1 col-form-label">Story URL</label>
            <div class="col-sm-11">
                <input type="text" id="url" class="form-control" name="url">
            </div>

            <label for="x" class="col-sm-1 col-form-label">Latitude</label>
            <div class="col-sm-11">
                <input type="number" id="lat" class="form-control" name="lat">
            </div>

            <label for="y" class="col-sm-1 col-form-label">Longitude</label>
            <div class="col-sm-11">
                <input type="number" id="long" class="form-control" name="long">
            </div>

            <label for="start_date" class="col-sm-1 col-form-label">Start Date</label>
            <div class="col-sm-11">
                <input type="datetime-local" id="start_date" class="form-control" name="start_date">
            </div>

            <label for="end_date" class="col-sm-1 col-form-label">End Date</label>
            <div class="col-sm-11">
                <input type="datetime-local" id="end_date" class="form-control" name="end_date">
            </div>
        </div>
            
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
        </div>

        </div>
    </form>
</div>

<div class="container d-flex justify-content-between align-items-center">
    <h3>Recent Points Added</h3>
</div>

<div class="container">
    <table class="table table-bordered" id="pointTable">
        <tr>
            <th>URL</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Action</th>
        </tr>
        {% for point in recent_points %}
        <tr>
            <td><a href="{{ point.url }}">{{ point.url }}</a></td>
            <td>{{ point.lat }}</td>
            <td>{{ point.long }}</td>
            <td>{{ point.start_date }}</td>
            <td>{{ point.end_date }}</td>
            <td>
                <button class="btn btn-primary modify-button" onclick="deletePoint({{point.uid}})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<script>

    window.addEventListener("load", function() {
        var now = new Date();
        var offset = now.getTimezoneOffset() * 60000;
        var adjustedDate = new Date(now.getTime() - offset);
        var adjustedDatePlusHour = new Date(now.getTime() - offset + 3600000);
        var formattedDate = adjustedDate.toISOString().substring(0,16);
        var formattedDatePlusHour = adjustedDatePlusHour.toISOString().substring(0,16);

        var startDateField = document.getElementById("start_date");
        startDateField.value = formattedDate;
        var endDateField = document.getElementById("end_date");
        endDateField.value = formattedDatePlusHour;
    });

    async function submitForm() {
        let endpoint = '/map-points/';
        const url = document.getElementById('url').value;
        const lat = document.getElementById('lat').value;
        const long = document.getElementById('long').value;
        const start_date = document.getElementById('start_date').value;
        const end_date = document.getElementById('end_date').value;

        if (!url || !lat || !long || !start_date || !end_date) {
            alert("Please fill out all fields before submitting.");
            return;
        }
        
        const startDateTime = new Date(start_date);
        const endDateTime = new Date(end_date);

        if (startDateTime >= endDateTime) {
            alert("End date must be after the start date.");
            return;
        }


        const response = await fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `_csrf_token={{ csrf_token() }}&url=${url}&lat=${lat}&long=${long}&start-date=${start_date}&end-date=${end_date}`,
        });
        
        if (response.status === 200) {
            window.location.reload();
        } else {
            console.log("Adding map point to db failed!");
            const message = await response.text();
            console.error(message);
            alert(message);
            button.disabled = false;
            button.innerHTML = 'Submit';
        }

        addToDataTable(url, lat, long, start_date, end_date);
    }

    function addToDataTable(url, lat, long, start_date, end_date) {
        const table = document.querySelector('.table');
        const newRow = table.insertRow(1);
        newRow.innerHTML = `
            <td><a href="${url}">${url}</a></td>
            <td>${lat}</td>
            <td>${long}</td>
            <td>${start_date}</td>
            <td>${end_date}</td>
        `;

        sortTable();
    }

    async function deletePoint(uid){
        console.log("deleting point!");
        let endpoint = `/map-points/` + uid + `/delete`; 
        const response = await fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `_csrf_token={{ csrf_token() }}`
        });
        console.log(uid)

        if (response.ok) {
            window.location.reload();
        } else {
            const message = await response.text();
            console.error(message);
            alert('Error deleting the link: ' + message);
        }
    }
</script>

{% endblock %}
