{% extends 'base.html' %}

{% block title %}
Socials Posting
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/macros/form.css">
<style>
    .socials-post-form {
        gap: 1rem;

    }
    .socials-post-form-row {
        flex-direction: column;
        align-items: flex-start;
    }
</style>
{% endblock %}

{% import "macros/form.html" as form %}
{% include "partials/loading.html" %}
{% include "partials/text_alert.html" %}
{% include "partials/info_bar.html" %}

{% block content %}
<h1>DI Socials Posting</h1>

<p>
    Automatically post a story to The Daily Illini's social media platforms.
</p>

<hr style="margin-bottom: 2rem;">

<section class="section-container">
    <div class="section-header">
        <h2 style="margin-bottom: 0">Post Story</h2>
    </div>

    <div class="inner-container">
        {% call form.form(id="socialsPostForm", class="socials-post-form", enctype="application/x-www-form-urlencoded", on_submit="return submitForm(event)") %}
            {{ form.text_input( 
                name="url",
                label="Story URL",
                required=true,
                placeholder="",
                class="socials-post-form-row"
            ) }}
            {{ form.select_input( 
                name="post_to",
                label="Post to:",
                options=platforms,
                required=true,
                class="socials-post-form-row"
            ) }}
            {{ form.submit_button(text="Submit", label="submitButton") }}
        {% endcall %}
    </div>
</section>

<hr>

<section class="section-container">
    <div class="section-header">
        <h2 style="margin-bottom: 0">Recent Posts</h2>
    </div>

    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Post</th>
                <th>Date Posted</th>
                <th>Posted To</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
            <tr>
                <td><a href="{{ post.url }}">{{ post.title }}</a></td>
                <td>{{ post.created_at.strftime("%m/%d/%Y") }}</td>
                <td>{{ post.platform }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const msg = sessionStorage.getItem("infoBarMessage");
        if (msg) {
            showInfoBar(msg);
            sessionStorage.removeItem("infoBarMessage"); // Clear it after showing
        }
    });

    async function submitForm(event) {
        event.preventDefault();
        console.log("Submitting...");

        showLoading("Submitting...");

        const url = document.getElementById('url').value;
        const postTo = document.getElementById('post_to').value;

        let endpoint = '/socials';
        if (postTo === 'Illinois app') {
            endpoint += '/illinois-app';
        } else if (postTo === 'Reddit') {
            endpoint += '/reddit';
        } else if (postTo === 'Twitter') {
            endpoint += '/twitter'
        }

        const payload = {
            _csrf_token: "{{ csrf_token() }}",
            url: url,
        };

        const response = await fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(payload),
        });

        // Check if it was successful
        if (response.status === 200) {
            // Trigger a reload of the window
            sessionStorage.setItem("infoBarMessage", "Posted successfully."); // Safe so we can display after reload
            window.location.reload();
        } else {
            // Alert of the error
            console.log("Automatic posting failed!");
            const message = await response.text();
            console.error(message);
            await showTextAlert(header="There was an error:", body=message, buttonText="Dismiss");
            hideLoading();
        }
    }

    function deleteAllPosts() {
        const confirmation = confirm("Are you sure you want to delete ALL social posts in the database?");
        const confirmation2 = confirm("Are you SURE sure? Everything?");
        if (confirmation & confirmation2) {
            fetch('/socials/delete-all', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `_csrf_token={{ csrf_token() }}`,
            })
            .then(response => response.text())
            .then(data => {
                console.log(data);
                alert(data);
                window.location.reload();
            })
            .catch(error => {
                console.error('ERROR:', error);
                alert(error);
            });
        }
    }
</script>
{% endblock %}
