{% extends 'employee_management/ems_base.html' %}

{% block ems_title %}
    Add Employee
{% endblock %}

{% block ems_extra_head %}
    <link rel="stylesheet" href="/static/macros/form.css">

    <style>
        .employee-add-form {
            gap: 0.5rem;
        }

        .employee-add-form-row {
            flex-direction: column;
            align-items: flex-start;
            flex: 1 1 10rem;
        }

        .form-row-shrink {
            flex: 0 1 auto;
        }

        .narrow-row {
            flex: 1 1 4rem;
        }

        .row-vertical-flex {
            flex: 1;
        }

        .column-container {
            display: flex; 
            flex-direction: column;
            gap: 0.5rem; 
            flex-wrap: wrap;
            flex: 1 1 20rem;
        }

        .inner-container {
            flex: 1 1;
        }
    </style>
{% endblock %}

{% import "macros/form.html" as form %}
{% include "partials/loading.html" %}
{% include "partials/text_alert.html" %}
{% include "partials/info_bar.html" %}

{% block ems_content %}
<div style="display: flex; flex-direction: row; gap: 2rem; align-items: center;">
    <a href="/ems/employees" style="color: inherit; font-size: 2rem;">
        <i class="bi bi-arrow-left"></i>
    </a>
    <h2>Upload a CSV</h2>
</div>

<hr>

<section class="section-container">
    {% call form.form(id="employeeFileAddForm", class="employee-file=add-form", enctype="application/x-www-form-urlencoded", on_submit="return submitEmployees(event)") %}
        <div style="display: flex; flex-direction: row; gap: 2rem; align-items: center;">
            <div class="column-container">
                <div class="inner-container" style="padding: 0.75rem;">
                    This form accepts .csv files with the following columns: ...
                    <div id="csv-error"></div>
                </div>
            </div>
            <div class="column-container">
                <div class="inner-container" style="padding: 0.75rem;">
                    <div class="inner-container" style="padding: 0.75rem;">
                        {{ form.file_input("file-input", ".csv") }}
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; gap: 2rem; align-items: center;">
            <div style="text-align: center;">
                {{ form.submit_button(text="Create Employees", label="submit_button") }}
            </div>
        </div>
    {% endcall %}
</section>
<script>
    async function submitEmployees(event) {
        event.preventDefault();
        console.log("Saving...");

        showLoading("Modifying Employee...");

        const formData = new FormData(event.target);

        const formEntries = Object.fromEntries(
            Array.from(formData.entries()).filter(([key, value]) => value !== "")
        );

        // Send the data to the backend endpoint
        let endpoint = "/ems/api/relation/create_all";
        const payload = {
            _csrf_token: "{{ csrf_token() }}",
            ...formEntries,
        }

        const response = await fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(payload),
        });

        // Check if it was successful
        if (response.status === 200) {
            // Trigger a reload of the window
            sessionStorage.setItem("infoBarMessage", "Employee successfully modified."); // Safe so we can display after reload
            // window.location.reload();
        } else {
            // Alert of the error
            console.log("Modifying the employee failed!");

            try {
                const data = await response.json();
                const message = data.error || "An unknown error occurred.";

                console.error(message);
                hideLoading();
                await showTextAlert(header="There was an error:", body=message, buttonText="Dismiss");
            } catch (err) {
                const fallback = await response.text();
                hideLoading();
                await showTextAlert(header="Fatal Error:", body=fallback, buttonText="Dismiss");
            }
        }
    }
    // async function submitEmployees(event) {
    //     event.preventDefault();
    //     const formData = new FormData(event.target);
    //     const payload = {
    //         _csrf_token: "{{ csrf_token() }}",
    //         // ...Object.fromEntries(
    //         //     Array.from(formData.entries()).filter(([key, value]) => value !== "")
    //         // ),
    //     }
    //     console.log(payload)
    //     let endpoint = "/ems/api/relation/create_all";
    //     const response = await fetch(endpoint, {
    //         method: 'POST',
    //         body: JSON.stringify(payload),
    //     })
    // }
</script>

{% endblock %}
