<html>
<body style="background-color: #E0E0E0; font-family: 'Century Gothic', Futura, 'Tw Cen MT', Arial, sans-serif; font-weight: 200;">
    <div style="display: flex; flex-direction: column; gap: 16px; padding: 16px;">
        <div style="padding: 16px; border-radius: 16px; background-color: white; box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
            <p>
                Hi {{first_name}},
            </p>

            <p>
                Welcome to the Illini Media Company team! Please fill out your onboarding form using the link below:
            </p>
            
            <p>
                <a href="{{onboarding_url}}" style="color: #F99F20;">Complete Onboarding Form</a>
            </p>

            <p>
                After completing the form, please keep an eye out for future communications from us.
                If you have any issues accessing the form or have any questions regarding the process, 
                reach out to <a href="mailto:helpdesk@illinimedia.com" style="color: #F99F20;">helpdesk@illinimedia.com</a>.
            </p>

            <p>
                Illini Media Company
            </p>
        </div>
    </div>
</body>
</html>