{% extends 'employee_management/ems_base.html' %}

{% macro filter_text_input(name, label, class, placeholder, alt_type, maxlength, pattern) %}
    <div class="form-row {{ class }}" id="formfield-{{ name }}" title="{{ label }}">
        <div>
            <label for="{{ name }}" class="field-label">
                {{ label }}
            </label>
        </div>
        <input 
            {% if alt_type %}
                type    = "{{ alt_type }}"
            {% else %}
                type    = "text"
            {% endif %}
            id      = "{{ name }}" 
            class   = "text-input" 
            name    = "{{ name }}"

            {% if maxlength %}
                maxlength = "{{ maxlength }}"
            {% endif %}

            {% if pattern %}
                pattern = "{{ pattern }}"
            {% endif %}

            {% if placeholder %}
                placeholder = "{{ placeholder }}"
            {% endif %}
        >
    </div>
{% endmacro %}

{% block ems_title %}
    Employees
{% endblock %}

{% block ems_extra_head %}
    <link rel="stylesheet" href="/static/macros/form.css">

    <style>
        table {
            border-collapse: separate;
            border-spacing: 0 0.5rem;
            width: 100%;
            background-color: var(--main-bg-color);
            border-radius: var(--main-border-radius);
        }

        tr {
            border-radius: var(--main-border-radius);
        }

        tr:hover td {
            background-color: var(--main-extralight-color);
        }

        td {
            padding: 0.75rem 1rem;
            background-color: var(--main-bg-color);
            font-weight: 300;
        }

        td:first-child {
            border-top-left-radius: var(--main-border-radius);
            border-bottom-left-radius: var(--main-border-radius);
        }

        td:last-child {
            border-top-right-radius: var(--main-border-radius);
            border-bottom-right-radius: var(--main-border-radius);
        }

        th {
            padding: 0.75rem 1rem;
            white-space: nowrap;
            border-bottom: 1px solid var(--main-lt-gray-color);
            align-items: center;
        }

        .controls-container {
            display: flex; 
            flex-direction: row; 
            justify-content: space-between; 
            align-items: center; 
            margin-bottom: 0.25rem; 
            gap: 0.5rem;
            position: relative;
        }

        .controls-inner-container {
            display: flex; 
            flex-direction: row; 
            gap: 0.5rem;
        }

        .search-bar-container {
            display: flex; 
            flex-direction: row; 
            align-items: center;
        }

        .text-input {
            border-radius: calc(var(--main-border-radius) + 0.5rem);
        }

        .filter-container {
            position: relative;
            display: inline-block;
        }

        .filter-dropdown {
            background-color: var(--main-bg-color);
            border-radius: calc(var(--main-border-radius) + 0.5rem);
            border: 1px solid var(--main-md-gray-color);
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            position: absolute;
            top: 0;
            left: 100%;
            z-index: 100;
        }

        .filter-dropdown.expanded {
            box-shadow: var(--main-box-shadow);
            padding: 0.5rem;
        }

        .filter-dropdown.filtering {
            border: 1px solid var(--main-accent-color);
        }

        .filter-button {
            border: none;
            background-color: inherit;
            color: inherit;
            padding: 0.25rem 1rem 0.25rem 0.5rem;
            border-radius: var(--main-border-radius);

            display: flex;
            width: fit-content;
            gap: 0.5rem;
            align-items: center;
        }

        .filter-button:hover {
            background-color: var(--main-md-gray-color);
        }

        #filter-button-icon {
            height: 1rem;
            width: 1rem;
        }

        .filter-button.expanded {
            padding: 0 0.35rem;
        }

        .filter-options-container {
            display: none;
        }

        .filter-options-container.expanded {
            display: block;
        }

        .filter-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 0.5rem;
            grid-row-gap: 0.5rem;
        }

        .filter-grid .select-input {
            width: 7rem;
        }

        .filter-item {
            flex-direction: column;
            align-items: flex-start;
            flex: 1 1 10rem;
            gap: 0.25rem;
        }

        .filter-button-container {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            justify-content: center;
        }

        .field-label {
            font-size: 0.75rem;
        }

        .user-profile-photo {
            height: 2.5rem;
            width: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
            border: 0.1rem solid var(--main-lt-gray-color);
        }

        .row-small-text {
            font-size: 0.75rem;
        }

        .pagination-container {
            display: flex; 
            flex-direction: row; 
            justify-content: space-between; 
            align-items: baseline;
        }

        .pagination-button {
            width: 10%;
        }

        @media (max-width: 480px) {
            .controls-container {
                flex-direction: column;
                align-items: baseline;
            }
            
            .controls-inner-container {
                flex-direction: row;
            }

            #table-title-header {
                flex-direction: column;
                gap: 0.5rem;
                align-items: baseline;

            }

            .filter-grid {
                grid-template-columns: 1fr;
                grid-template-rows: auto;
            }

            .filter-button-container {
                flex-direction: column;
            }
        }
    </style>

    {# Variables passed into Jinja #}
    <meta id="employee-selection-data" data-employees='{{ selected_employees | tojson }}'>
{% endblock %}

{% import "macros/form.html" as form %}
{% include "partials/loading.html" %}
{% include "partials/info_bar.html" %}

{% block ems_content %}

<h2>Employees</h2>

<hr>

<section class="section-container" id="employees-container">
    <div class="section-header" id="table-title-header">
        <div style="display: flex; flex-direction: row; gap: 1rem; align-items: center;">
            <h2 style="margin-bottom: 0">All Employees</h2>
            <h4 style="margin-bottom: 0" id="numEmployees"></h4>
        </div>
        <div>
            <a href="/ems/employee/add" target="_blank">
                <button class="button-primary">
                    Add Employee
                </button>
            </a>
            <a href="/ems/employee/file_upload" target="_blank">
                <button class="button-primary">
                    Add Employees via File Upload
                </button>
            </a>
        </div>
    </div>

    {# Controls (Search, Filter) #}
    <div class="controls-container">
        <div class="controls-inner-container">
            {# Search Bar #}
            <div class="search-bar-container" id="querySearchBar">
                <i class="bi bi-search"></i>
                {{ form.text_input( 
                    name="searchQuery",
                    placeholder="Search...",
                    class=""
                ) }}
            </div>
            {# Filter #}
            <div class="filter-container">
                <div class="filter-dropdown" id="filterDropdown">
                    <div>
                        <button class="filter-button" title="Filter" id="filterButton">
                            <i class="bi bi-filter-circle" id="filter-button-icon"></i>Filters
                        </button>
                    </div>
                    <div class="filter-options-container" id="filterOptions">
                        <hr style="margin-bottom: 0.25rem; margin-top: 0;">
                        {# Filter Options #}
                        <div class="filter-grid">
                            {# Hired After #}
                            {{ filter_text_input( 
                                name="filter_hire_after",
                                label="Hire Date After",
                                alt_type="date",
                                class="filter-item"
                            ) }}

                            {# Hired Before #}
                            {{ filter_text_input( 
                                name="filter_hire_before",
                                label="Hire Date Before",
                                alt_type="date",
                                class="filter-item"
                            ) }}

                            {# Born After #}
                            {{ filter_text_input( 
                                name="filter_born_after",
                                label="Birth Date After",
                                alt_type="date",
                                class="filter-item"
                            ) }}

                            {# Born Before #}
                            {{ filter_text_input( 
                                name="filter_born_before",
                                label="Birth Date Before",
                                alt_type="date",
                                class="filter-item"
                            ) }}

                            {# Status #}
                            {{ form.select_input( 
                                name="filter_status",
                                label="Employment Status",
                                options=employee_statuses,
                                class="filter-item"
                            ) }}

                            {# Graduation Term #}
                            {{ form.select_input( 
                                name="filter_graduation",
                                label="Graduation Term",
                                options=employee_grad_years,
                                class="filter-item"
                            ) }}
                        </div>
                        <hr>
                        <div class="filter-button-container">
                            <button class="button-secondary" onclick="clearAllFilters()">
                                Clear Filters
                            </button>
                            <button class="button-primary" onclick="applyFilters()">
                                Apply Filters
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Results per Page #}
        {{ form.select_input( 
            name="num_results",
            label="Results per Page",
            options=[25, 50, 100],
            required=false,
            class=""
        ) }}
    </div>

    {# Table #}
    <div style="overflow-x: auto; max-width: 100%; border-radius: var(--main-border-radius);">
        <table id="employeeTable">
            <thead>
                <tr>
                    <th></th>
                    <th onclick="handleSort(this, 'name')">
                        <span><i class="bi bi-caret-up"></i></span> 
                        Full Name
                    </th>
                    <th onclick="handleSort(this, 'imc_email')">
                        <span><i class="bi bi-caret-up"></i></span>
                        IMC Email
                    </th>
                    <th>
                        Personal Contact
                    </th>
                    <th>
                        Major(s)
                    </th>
                    <th>
                        Minor(s)
                    </th>
                    <th onclick="handleSort(this, 'graduation')">
                        <span><i class="bi bi-caret-up"></i></span>
                        Grad. Term
                    </th>
                    <th>
                        Permanent Address
                    </th>
                    <th onclick="handleSort(this, 'birth_date')">
                        <span><i class="bi bi-caret-up"></i></span>
                        Birth Date
                    </th>
                    <th onclick="handleSort(this, 'payroll_number')">
                        <span><i class="bi bi-caret-up"></i></span>
                        Payroll Number
                    </th>
                    <th onclick="handleSort(this, 'initial_hire_date')">
                        <span><i class="bi bi-caret-up"></i></span>
                        Initial Hire
                    </th>
                    <th onclick="handleSort(this, 'status')">
                        <span><i class="bi bi-caret-up"></i></span>
                        Status
                    </th>
                    <th onclick="handleSort(this, 'user_key')">
                        <span><i class="bi bi-caret-up"></i></span> 
                        User?
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="employeeTableBody">
                {# Initially empty, loaded client-side #}
            </tbody>
        </table>
    </div>
    <div id="pagination-container" class="pagination-container">
    </div>
</section>

<script src="../static/js_libraries/ap_style.js"></script>
<script>
    const metaElement = document.querySelector('#employee-selection-data');
    const rawData = metaElement.dataset.employees;
    const allEmployees = JSON.parse(rawData);

    // Pagination global state
    let currentPage = 1;
    var rowsPerPage = 25;

    let filteredEmployees = [...allEmployees];
    let searchTimeout;
    const SEARCH_TIMEOUT_VAL = 300;

    // Sorting global state
    let currentSortCol = '';
    let isAsc = true;
    let filtersApplied = false;

    // Filter panel expanded
    let filterExpanded = false;

    // Render the table rows
    function renderTable(page) {
        showLoading("Loading...");

        const tbody = document.getElementById("employeeTableBody");
        const paginationContainer = document.getElementById("pagination-container");
        tbody.innerHTML = "";

        const start = (currentPage - 1) * rowsPerPage;
        const end = start + rowsPerPage;
        const pageData = filteredEmployees.slice(start, end);

        pageData.forEach(emp => {
            const row = document.createElement("tr");
            row.innerHTML = `
                <td></td>
                <td>${emp.last_name}, ${emp.first_name}</td>
                <td>${emp.imc_email}</td>
                <td class="row-small-text">
                    ${emp.personal_email || '—'}
                    <br>
                    ${emp.phone_number || '—'}
                </td>
                <td class="row-small-text">
                    ${[emp.major, emp.major_2, emp.major_3].filter(Boolean).join('<br>') || '—'}
                </td>
                <td class="row-small-text">
                    ${[emp.minor, emp.minor_2, emp.minor_3].filter(Boolean).join('<br>') || '—'}
                </td>
                <td>
                    ${emp.graduation || '—'}
                </td>
                <td class="row-small-text">
                    ${emp.permanent_address_1 || '—'} ${emp.permanent_address_2 || ''}
                    <br>
                    ${emp.permanent_city || '—'}, ${emp.permanent_state || '—'} ${emp.permanent_zip || '—'}
                </td>
                <td>
                    ${simplifyDate(emp.birth_date) || '—'}
                </td>
                <td>
                    ${emp.payroll_number || '—'}
                </td>
                <td>
                    ${simplifyDate(emp.initial_hire_date) || '—'}
                </td>
                <td>
                    ${emp.status || '—'}
                </td>
                <td style="text-align: center;">
                    ${emp.user_uid ? 
                        '<i class="bi bi-check-circle" style="color: var(--green-500);"></i>' : 
                        '<i class="bi bi-x-circle" style="color: var(--red-500);"></i>' 
                    }
                </td>
                <td style="text-align: center;">
                    <a href="/ems/employee/view/${emp.uid}">
                        <button class="button-primary" title="View/Edit Employee"><i class="bi bi-person-badge"></i></button>
                    </a>
                </td>
            `;
            tbody.appendChild(row);
        });

        const totalPages = Math.ceil(filteredEmployees.length / rowsPerPage);

        paginationContainer.innerHTML = `
            <div class="pagination-button">
                ${currentPage > 1 ? `
                    <button class="button-bg-color" onclick="changePage(${currentPage - 1})" style="padding-left: 0.75rem;">
                        <i class="bi bi-arrow-left-short"></i>&nbsp;Prev.
                    </button>
                ` : ''}
            </div>

            <p style="margin-bottom: 0;">
                Page ${currentPage} of ${totalPages}
            </p>

            <div class="pagination-button" style="text-align: right;">
                ${currentPage < totalPages ? `
                    <button class="button-bg-color" onclick="changePage(${currentPage + 1})" style="padding-right: 0.75rem;">
                        Next&nbsp;<i class="bi bi-arrow-right-short"></i>
                    </button>
                ` : ''}
            </div>
        `
        
        const numEmployees = document.getElementById("numEmployees");
        numEmployees.innerHTML = `(${filteredEmployees.length} of ${allEmployees.length})`

        hideLoading();
    }

    function changePage(newPage) {
        currentPage = newPage;
        renderTable();
        document.getElementById("employeeTable").scrollIntoView({ behavior: 'smooth', block: 'start' });
    }

    // Sort by a specific column
    function sortData(columnKey, asc) {
        filteredEmployees.sort((a, b) => {
            let valA = a[columnKey] || "";
            let valB = b[columnKey] || "";

            if (columnKey === 'name') {
                valA = (a.first_name + a.last_name).toLowerCase();
                valB = (b.first_name + b.last_name).toLowerCase();
            }

            if (columnKey === 'birth_date' || columnKey === 'initial_hire_date') {
                valA = valA ? new Date(valA).getTime() : 0;
                valB = valB ? new Date(valB).getTime() : 0;
            }

            if (columnKey === 'user_key') {
                valA = valA ? true : false;
                valB = valB ? true : false;
            }

            let cmp = 0;
            if (valA < valB) cmp = -1;
            if (valA > valB) cmp = 1;

            return asc ? cmp : -cmp;
        });

        renderTable();
    }

    // Handle sorting
    function handleSort(headerElement, columnKey) {
        // Toggle direction
        if (currentSortCol === columnKey) {
            isAsc = !isAsc;
        } else {
            currentSortCol = columnKey;
            isAsc = true;
        }

        // Update icons
        document.querySelectorAll('th i').forEach(i => i.className = "bi bi-caret-up");
        const icon = headerElement.querySelector('i');
        icon.className = isAsc ? "bi bi-caret-up-fill" : "bi bi-caret-down-fill";

        sortData(columnKey, isAsc);
    }

    // Initial render on load
    window.addEventListener('load', () => {
        showLoading("Loading...");

        const msg = sessionStorage.getItem("infoBarMessage");
        if (msg) {
            showInfoBar(msg);
            sessionStorage.removeItem("infoBarMessage"); // Clear it after showing
        }
        
        // Event listener to expand the filter panel
        const filterButton = document.getElementById("filterButton");
        filterButton.addEventListener("click", () => {
            filterExpanded = !filterExpanded;

            const filterDropdown = document.getElementById("filterDropdown");
            const filterOptions = document.getElementById("filterOptions");

            filterDropdown.classList.toggle('expanded');
            filterOptions.classList.toggle('expanded');
            filterButton.classList.toggle('expanded');
        });

        // Remove the "Select..." option created by macro, set first option as selected
        const resultsSelect = document.getElementById("num_results");
        if (resultsSelect) {
            resultsSelect.remove(0);
            resultsSelect.selectedIndex = 0;
            rowsPerPage = parseInt(resultsSelect.value);
        }
        
        // Event listener to update the rows per page
        resultsSelect.addEventListener("change", () => {
            rowsPerPage = parseInt(resultsSelect.value);
            currentPage = 1;
            renderTable();
        });

        // Handle searching
        const searchInput = document.getElementById("searchQuery");
        searchInput.addEventListener("input", () => {
            clearTimeout(searchTimeout);

            searchTimeout = setTimeout(updateData, SEARCH_TIMEOUT_VAL);
        });

        renderTable();
        hideLoading();
    });

    function closeFilterPanel() {
        if (!filterExpanded) return;

        filterExpanded = !filterExpanded;

        const filterDropdown = document.getElementById("filterDropdown");
        const filterOptions = document.getElementById("filterOptions");

        filterDropdown.classList.remove('expanded');
        filterOptions.classList.remove('expanded');
        filterButton.classList.remove('expanded');
    }

    // Button to clear all filters
    function clearAllFilters() {
        const container = document.getElementById("filterOptions");
        
        // Clear text inputs
        const inputs = container.querySelectorAll("input");
        inputs.forEach(input => input.value = "");

        // Reset select dropdowns
        const selects = container.querySelectorAll("select");
        selects.forEach(select => {
            select.selectedIndex = 0;
        });

        filteredEmployees = [...allEmployees];
        
        updateData();
        closeFilterPanel();
    }

    // Change a date to the form YYYY/MM/DD
    function simplifyDate(input) {
        if (!input) {
            return null;
        }
        const date = new Date(input);
        return date.toISOString().split('T')[0].replace(/-/g, '/');
    }

    // Handles search and filter
    function updateData() {
        showLoading("Searching...");
        const searchInput = document.getElementById("searchQuery");
        const query = searchInput.value.toLowerCase().trim();
        const hireAfter = document.getElementById("filter_hire_after").value;
        const hireBefore = document.getElementById("filter_hire_before").value;
        const bornAfter = document.getElementById("filter_born_after").value;
        const bornBefore = document.getElementById("filter_born_before").value;
        const status = document.getElementById("filter_status").value;
        const graduation = document.getElementById("filter_graduation").value;

        const filterDropdown = document.getElementById("filterDropdown");
        if (!hireAfter && !hireBefore && !bornAfter && !bornBefore && !status && !graduation) {
            filtersApplied = false;
            filterDropdown.classList.remove("filtering");
        } else {
            filtersApplied = true;
            filterDropdown.classList.add("filtering");
        }

        filteredEmployees = allEmployees.filter(emp => {
            // SEARCHING
            if (query) {
                const fullName = `${emp.first_name} ${emp.last_name}`.toLowerCase();
                const fullAddress = `${emp.permanent_address_1 || ""} ${emp.permanent_address_2 || ""}`.toLowerCase();
                const allMajors = `${emp.major || ""} ${emp.major_2 || ""} ${emp.major_3 || ""}`.toLowerCase();
                const allMinors = `${emp.minor || ""} ${emp.minor_2 || ""} ${emp.minor_3 || ""}`.toLowerCase();
                const matchesSearch = (
                    (fullName.includes(query)) || 
                    (emp.imc_email && emp.imc_email.toLowerCase().includes(query)) ||
                    (emp.payroll_number && emp.payroll_number.toString().toLowerCase().includes(query)) ||
                    (fullAddress.includes(query)) ||
                    (emp.permanent_city && emp.permanent_city.toLowerCase().includes(query)) ||
                    (allMajors.includes(query)) || 
                    (allMinors.includes(query))
                );

                if (!matchesSearch) return false;
            }

            // FILTERING
            if (filtersApplied) {
                // Convert times
                const empHireDate = emp.initial_hire_date ? new Date(emp.initial_hire_date).getTime() : null;
                const limitAfterHire = hireAfter ? new Date(hireAfter).getTime() : null;
                const limitBeforeHire = hireBefore ? new Date(hireBefore).getTime() : null;
                const empBirthDate = emp.birth_date ? new Date(emp.birth_date).getTime() : null;
                const limitAfterBorn = bornAfter ? new Date(bornAfter).getTime() : null;
                const limitBeforeBorn = bornBefore ? new Date(bornBefore).getTime() : null;

                // Check date ranges
                if (limitAfterHire && empHireDate < limitAfterHire) return false;
                if (limitBeforeHire && empHireDate > limitBeforeHire) return false;
                if (limitAfterBorn && empBirthDate < limitAfterBorn) return false;
                if (limitBeforeBorn && empBirthDate > limitBeforeBorn) return false;

                // Check Status
                if (status && (!emp.status || emp.status.toLowerCase() !== status.toLowerCase())) return false;
                if (graduation && (!emp.graduation || emp.graduation.toLowerCase() !== graduation.toLowerCase())) return false;
            }

            return true;
        });
        currentPage = 1;
        renderTable();
        hideLoading();
    }

    // Executed when "Apply Filters" button clicked 
    function applyFilters() {
        updateData();
        closeFilterPanel();
    }
</script>
{% endblock %}