{% extends 'employee_management/ems_base.html' %}

{% block ems_title %}
    {{ employee.last_name }}, {{ employee.first_name }}
{% endblock %}

{% block ems_extra_head %}
    <link rel="stylesheet" href="/static/macros/form.css">

    <style>
        .employee-header-container {
            display: flex; 
            flex-direction: row; 
            gap: 0.5rem;
        }

        .row-container {
            display: flex; 
            flex-direction: row; 
            gap: 0.5rem;
        }

        .column-container {
            display: flex; 
            flex-direction: column;
            gap: 0.5rem; 
            flex-wrap: wrap;
            min-width: 15%;
        }

        .employee-profile-photo {
            border-radius: var(--main-border-radius); 
            aspect-ratio: 1 / 1;
        }

        .employee-info-row {
            display: flex;
            flex-direction: row;
            gap: 0.75rem;
            align-items: center;
        }

        .employee-info-column-container {
            display: flex; 
            flex-direction: column; 
            gap: 0.5rem;
        }

        .employee-modify-form-row {
            flex-direction: column;
            align-items: flex-start;
            flex: 1 1 5rem;
            gap: 0.25rem;
        }

        .form-row-shrink {
            flex: 0 1 auto;
        }

        .form-initial-show {
            display: block;
        }

        .form-initial-hide {
            display: none;
        }

        .employee-info-row .form-initial-hide {
            flex-grow: 1;
        }

        .field-label {
            font-size: 0.75rem;
        }

        .delete-button-container {
            width: fit-content;
            align-content: center;
            align-items: center;
            text-align: center;

            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            height: 100%;
        }

        .positions-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            column-gap: 0.5rem;
            row-gap: 0.5rem;
        }

        .position-item-container {
            border: 2px solid var(--main-md-gray-color); 
            display: flex;
            flex-direction: row;
            gap: 0.75rem;
            justify-content: space-between;
        }

        .position-item-button-container {
            display: flex; 
            flex-direction: column; 
            justify-content: space-between; 
            height: 100%; 
            gap: 0.25rem;
        }

        .position-item-action-button {
            padding: 0;
            border: none;
            background-color: inherit;
            color: inherit;
        }

        @media (max-width: 825px) {
            .row-container {
                flex-direction: column;
            }
        }

        @media (max-width: 480px) {
            .employee-header-container {
                flex-direction: column;
            }

            .delete-button-container {
                width: auto;
                flex-direction: row;
                justify-content: center;
            }

            .positions-container {
                grid-template-columns: 1fr;
            }
        }
    </style>
{% endblock %}

{% import "macros/form.html" as form %}
{% import "employee_management/ems_macros.html" as ems_macros %}
{% include "partials/loading.html" %}
{% include "partials/text_alert.html" %}
{% include "partials/button_alert.html" %}
{% include "partials/info_bar.html" %}

{% block ems_content %}

{% if admin_access %}
{{ ems_macros.ems_relation_add(
    employee_id=employee.uid, 
    position_id=none,
    employee_choices=[{"value": employee.uid, "name": employee.full_name}],
    position_choices=position_options,
    departure_categories=departure_categories,
    depart_reasons_vol=depart_reasons_vol,
    depart_reasons_invol=depart_reasons_invol,
    depart_reasons_admin=depart_reasons_admin,
) }}
{{ ems_macros.ems_relation_modify(
    employee_id=employee.uid, 
    position_id=none,
    employee_choices=[{"value": employee.uid, "name": employee.full_name}],
    position_choices=position_options,
    departure_categories=departure_categories,
    depart_reasons_vol=depart_reasons_vol,
    depart_reasons_invol=depart_reasons_invol,
    depart_reasons_admin=depart_reasons_admin,
) }}
{% endif %}

<div style="display: flex; flex-direction: row; gap: 2rem; align-items: center;">
    {% if admin_access %}
    <a href="/ems/employees" style="color: inherit; font-size: 2rem;">
        <i class="bi bi-arrow-left"></i>
    </a>
    {% endif %}
    <h2>View/Edit Employee</h2>
</div>

<hr>

<section class="section-container">
    {% call form.form(id="employeeModifyForm", enctype="application/x-www-form-urlencoded", on_submit="return modifyEmployee(event)") %}
        {# Upper Banner #}
        <div class="employee-header-container">
            {# Image #}
            <div class="form-initial-show">
                <img src="{{ employee.user_profile }}"
                    class="employee-profile-photo"
                >
            </div>
            {# Delete Button #}
            <div class="form-initial-hide">
                {% if admin_access %}
                    <div class="inner-container delete-button-container">
                        <button class="button-secondary" type="button" onclick="deleteEmployee()" style="text-wrap: nowrap; width: fit-content;">
                            <i class="bi bi-exclamation-triangle"></i>&nbsp; Permanently Delete
                        </button>
                        <br>
                    </div>
                {% else %}
                    <img src="{{ employee.user_profile }}"
                        class="employee-profile-photo"
                    >
                {% endif %}
            </div>
            {# Name & Pronouns #}
            <div class="inner-container" style="padding: 0.75rem;">
                <div class="form-initial-show">
                    <h2 style="margin-bottom: 0;">
                        {{ employee.last_name }}, {{ employee.first_name }}
                        {% if employee.status == 'Inactive' %}
                            <span style="color: var(--main-accent-color); font-size: 1rem;">(Inactive)</span>
                        {% elif employee.status == 'Onboarding' %}
                            <span style="color: var(--main-accent-color); font-size: 1rem;">(Onboarding)</span>
                        {% endif %}
                    </h2>
                    <P style="margin-bottom: 0;">{{ employee.pronouns or "Unknown" }}</P>
                </div>
                <div class="form-initial-hide">
                    <div style="display: flex; flex-direction: row; gap: 1rem; flex-wrap: wrap;">
                        {{ form.text_input( 
                            name="last_name",
                            label="Last Name",
                            required=true,
                            initial_val=employee.last_name,
                            class="employee-modify-form-row"
                        ) }}
                        {{ form.text_input( 
                            name="first_name",
                            label="First Name",
                            required=true,
                            initial_val=employee.first_name,
                            class="employee-modify-form-row"
                        ) }}
                        {{ form.select_input( 
                            name="pronouns",
                            label="Pronouns",
                            options=employee_pronouns,
                            required=false,
                            initial_val=employee.pronouns,
                            class="employee-modify-form-row form-row-shrink"
                        ) }}
                    </div>
                </div>
            </div>
        </div>

        {# Row 2 #}
        <div class="row-container">
            {# Left Column #}
            <div class="column-container" style="flex: 0 auto;">
                {# Buttons #}
                <div style="text-align: center;">
                    <button id="modify-button" onclick="showModify()" type="button" class="button-primary">
                        <i class="bi bi-pen"></i>&nbsp;&nbsp;Modify
                    </button>
                    <button id="cancel-button" onclick="hideModify()" type="button" class="button-bg-color" style="display: none;">
                        <i class="bi bi-x-circle"></i>&nbsp;&nbsp;Cancel
                    </button>
                    {{ form.submit_button(text="Save", label="submit_button") }}
                </div>

                {# Contact Information #}
                <div class="inner-container" style="padding: 0.75rem;">
                    <div class="section-header" style="padding: 0;">
                        <h4 style="margin-bottom: 0">Contact Information</h4>
                    </div>

                    <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">

                    <div class="employee-info-column-container">
                        {# IMC Email #}
                        <div class="employee-info-row" title="IMC Email">
                            <i class="bi bi-envelope"></i>
                            <div class="form-initial-show">
                                <a href="mailto:{{ employee.imc_email }}">{{ employee.imc_email or "—" }}</a>
                            </div>
                            <div class="form-initial-hide">
                                {{ form.text_input( 
                                    name="imc_email",
                                    label="IMC Email Address",
                                    required=true,
                                    initial_val=employee.imc_email,
                                    placeholder="NetID@illinimedia.com",
                                    pattern=".*@illinimedia\.com$",
                                    class="employee-modify-form-row"
                                ) }}
                            </div>
                        </div>

                        {# Personal Email #}
                        <div class="employee-info-row" title="Personal Email">
                            <i class="bi bi-envelope"></i>
                            <div class="form-initial-show">
                                <a href="mailto:{{ employee.personal_email }}">{{ employee.personal_email or "—" }}</a>
                            </div>
                            <div class="form-initial-hide">
                                {{ form.text_input( 
                                    name="personal_email",
                                    label="Personal Email Address",
                                    required=true,
                                    initial_val=employee.personal_email,
                                    alt_type="email",
                                    class="employee-modify-form-row"
                                ) }}
                            </div>
                        </div>

                        {# Phone Number #}
                        <div class="employee-info-row" title="Phone Number">
                            <i class="bi bi-telephone"></i>
                            <div class="form-initial-show">
                                <a href="tel:{{ employee.phone_number }}">{{ employee.phone_number or "—" }}</a>
                            </div>
                            <div class="form-initial-hide">
                                {{ form.text_input( 
                                    name="phone_number",
                                    label="Personal Phone Number",
                                    placeholder="+# (###) ### - ####",
                                    required=true,
                                    initial_val=employee.phone_number,
                                    alt_type="tel",
                                    pattern="^(\+\d{1,3}\s)?\(\d{3}\)\s\d{3}\s-\s\d{4}$",
                                    class="employee-modify-form-row"
                                ) }}
                            </div>
                        </div>
                    </div>
                </div>

                {# Personal Information #}
                <div class="inner-container" style="padding: 0.75rem;">
                    <div class="section-header" style="padding: 0;">
                        <h4 style="margin-bottom: 0">Personal Information</h4>
                    </div>

                    <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">

                    <div class="employee-info-column-container">
                        {# Address #}
                        <div class="employee-info-row" title="Permanent Address">
                            <i class="bi bi-house"></i>
                            <div class="form-initial-show">
                                <p style="margin-bottom: 0;">
                                    {{ employee.permanent_address_1 or "—"}} {{ employee.permanent_address_2 or "" }}
                                    <br>
                                    {{ employee.permanent_city or "—" }}, {{ employee.permanent_state or "—" }} {{ employee.permanent_zip or "—" }}
                                </p>
                            </div>
                            <div class="form-initial-hide">
                                <div style="display: flex; flex-direction: row; gap: 1rem; flex-wrap: wrap;">
                                    {{ form.text_input( 
                                        name="permanent_address_1",
                                        label="Address Line 1",
                                        required=true,
                                        initial_val=employee.permanent_address_1,
                                        class="employee-modify-form-row"
                                    ) }}

                                    {{ form.text_input( 
                                        name="permanent_address_2",
                                        label="Address Line 2",
                                        required=false,
                                        initial_val=employee.permanent_address_2,
                                        class="employee-modify-form-row"
                                    ) }}
                                </div>
                                <div style="display: flex; flex-direction: row; gap: 1rem; flex-wrap: wrap;">
                                    {{ form.text_input( 
                                        name="permanent_city",
                                        label="City",
                                        required=true,
                                        initial_val=employee.permanent_city,
                                        class="employee-modify-form-row"
                                    ) }}

                                    {{ form.text_input( 
                                        name="permanent_state",
                                        label="State",
                                        maxlength=2,
                                        required=true,
                                        initial_val=employee.permanent_state,
                                        class="employee-modify-form-row"
                                    ) }}

                                    {{ form.text_input( 
                                        name="permanent_zip",
                                        label="ZIP Code",
                                        pattern="[0-9]{5}",
                                        maxlength=5,
                                        required=true,
                                        initial_val=employee.permanent_zip,
                                        class="employee-modify-form-row"
                                    ) }}
                                </div>
                            </div>
                        </div>

                        {# Date of Birth #}
                        <div class="employee-info-row" title="Date of Birth">
                            <i class="bi bi-cake"></i>
                            <div class="form-initial-show">
                                <p style="margin-bottom: 0;">
                                    {{ employee.birth_date|ap_date or "—"}}
                                </p>
                            </div>
                            <div class="form-initial-hide">
                                {{ form.text_input( 
                                    name="birth_date",
                                    label="Date of Birth",
                                    alt_type="date",
                                    required=false,
                                    initial_val=employee.birth_date,
                                    class="employee-modify-form-row"
                                ) }}
                            </div>
                        </div>
                    </div>
                </div>

                {# Academics #}
                <div class="inner-container" style="padding: 0.75rem;">
                    <div class="section-header" style="padding: 0;">
                        <h4 style="margin-bottom: 0">Academics</h4>
                    </div>

                    <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">

                    <div class="employee-info-column-container">
                        {# Major #}
                        <div class="employee-info-row" title="Major(s)">
                            <i class="bi bi-journal-bookmark-fill"></i>
                            <div class="form-initial-show">
                                <p style="margin-bottom: 0;">
                                    {{ employee.major or "—"}}
                                    {% if employee.major_2 %}
                                        <br>
                                        {{ employee.major_2 or ""}}
                                    {% endif %}
                                    {% if employee.major_3 %}
                                        <br>
                                        {{ employee.major_3 or ""}}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="form-initial-hide">
                                <div style="display: flex; flex-direction: row; gap: 1rem; flex-wrap: wrap;">
                                    {{ form.text_input( 
                                        name="major",
                                        label="Major",
                                        required=false,
                                        initial_val=employee.major,
                                        class="employee-modify-form-row"
                                    ) }}
                                    {{ form.text_input( 
                                        name="major_2",
                                        label="Major 2 (Optional)",
                                        required=false,
                                        initial_val=employee.major_2,
                                        class="employee-modify-form-row"
                                    ) }}
                                    {{ form.text_input( 
                                        name="major_3",
                                        label="Major 3 (Optional)",
                                        required=false,
                                        initial_val=employee.major_3,
                                        class="employee-modify-form-row"
                                    ) }}
                                </div>
                            </div>
                        </div>

                        {# Minor #}
                        <div class="employee-info-row" title="Minor(s)">
                            <i class="bi bi-journal-bookmark"></i>
                            <div class="form-initial-show">
                                <p style="margin-bottom: 0;">
                                    {{ employee.minor or "—"}}
                                    {% if employee.minor_2 %}
                                        <br>
                                        {{ employee.minor_2 or ""}}
                                    {% endif %}
                                    {% if employee.minor_3 %}
                                        <br>
                                        {{ employee.minor_3 or ""}}
                                    {% endif %}
                                </p>
                            </div>
                            <div class="form-initial-hide">
                                <div style="display: flex; flex-direction: row; gap: 1rem; flex-wrap: wrap;">
                                    {{ form.text_input( 
                                        name="minor",
                                        label="Minor",
                                        required=false,
                                        initial_val=employee.minor,
                                        class="employee-modify-form-row"
                                    ) }}
                                    {{ form.text_input( 
                                        name="minor_2",
                                        label="Minor 2 (Optional)",
                                        required=false,
                                        initial_val=employee.minor_2,
                                        class="employee-modify-form-row"
                                    ) }}
                                    {{ form.text_input( 
                                        name="minor_3",
                                        label="Minor 3 (Optional)",
                                        required=false,
                                        initial_val=employee.minor_3,
                                        class="employee-modify-form-row"
                                    ) }}
                                </div>
                            </div>
                        </div>

                        {# Graduation Term #}
                        <div class="employee-info-row" title="Graduation Term">
                            <i class="bi bi-mortarboard"></i>
                            <div class="form-initial-show">
                                <p style="margin-bottom: 0;">
                                    {{ employee.graduation or "—"}}
                                </p>
                            </div>
                            <div class="form-initial-hide">
                                {{ form.select_input( 
                                    name="graduation",
                                    label="Graduation Term",
                                    options=employee_grad_years,
                                    required=false,
                                    initial_val=employee.graduation,
                                    class="employee-modify-form-row"
                                ) }}
                            </div>
                        </div>
                    </div>
                </div>

                {# Hire Date #}
                <div class="inner-container" style="padding: 0.75rem;">
                    <div class="section-header" style="padding: 0;">
                        <h4 style="margin-bottom: 0">Hire Date</h4>
                    </div>

                    <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">

                    <div class="employee-info-row" title="Initial Hire Date">
                        <i class="bi bi-calendar"></i>
                        <div class="form-initial-show">
                            <p style="margin-bottom: 0;">
                                {{ employee.initial_hire_date|ap_date or "—" }}&nbsp;
                                <span style="font-size: 0.75rem;">
                                    {% if employee.initial_hire_date %}
                                        ({{ employee.initial_hire_date | time_since }})
                                    {% endif %}
                                </span>
                            </p>
                        </div>
                        <div class="form-initial-hide">
                            {% if admin_access %}
                            {{ form.text_input( 
                                name="initial_hire_date",
                                label="Initial Hire Date",
                                alt_type="date",
                                required=false,
                                initial_val=employee.initial_hire_date,
                                class="employee-modify-form-row"
                            ) }}
                            {% else %}
                            <p style="margin-bottom: 0;">
                                {{ employee.initial_hire_date|ap_date or "—" }}&nbsp;
                                <span style="font-size: 0.75rem;">
                                    {% if employee.initial_hire_date %}
                                        ({{ employee.initial_hire_date | time_since }})
                                    {% endif %}
                                </span>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {# Administrative #}
                {% if admin_access %}
                <div class="inner-container" style="padding: 0.75rem;">
                    <div class="section-header" style="padding: 0;">
                        <h4 style="margin-bottom: 0">Administrative</h4>
                    </div>

                    <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">

                    <div class="employee-info-column-container">
                        {# Payroll Number #}
                        <div class="employee-info-row" title="Payroll Number">
                            <i class="bi bi-cash-stack"></i>
                            <div class="form-initial-show">
                                <p style="margin-bottom: 0;">
                                    {{ employee.payroll_number or "—"}}
                                </p>
                            </div>
                            <div class="form-initial-hide">
                                {{ form.text_input( 
                                    name="payroll_number",
                                    label="Payroll Number",
                                    required=false,
                                    initial_val=employee.payroll_number,
                                    class="employee-modify-form-row"
                                ) }}
                            </div>
                        </div>

                        {# Status #}
                        <div class="employee-info-row" title="Employment Status">
                            <i class="bi bi-file-person"></i>
                            <div class="form-initial-show">
                                <p style="margin-bottom: 0;">
                                    {{ employee.status or "—"}}
                                </p>
                            </div>
                            <div class="form-initial-hide">
                                {{ form.select_input( 
                                    name="status",
                                    label="Employment Status",
                                    options=employee_statuses,
                                    required=true,
                                    initial_val=employee.status,
                                    class="employee-modify-form-row"
                                ) }}
                            </div>
                        </div>

                        {# Creation Date #}
                        <div class="employee-info-row" title="Creation Time">
                            <i class="bi bi-calendar-plus"></i>
                            <p style="margin-bottom: 0;">
                                {{ employee.created_at|ap_datetime or "—"}}
                            </p>
                        </div>

                        {# Last Modified at #}
                        <div class="employee-info-row" title="Last Modification Time">
                            <i class="bi bi-pen"></i>
                            <p style="margin-bottom: 0;">
                                {{ employee.updated_at|ap_datetime or "—"}}
                            </p>
                        </div>

                        {# Last Modified by #}
                        <div class="employee-info-row" title="Last Modification User">
                            <i class="bi bi-pen"></i>
                            <p style="margin-bottom: 0;">
                                {{ employee.updated_by|to_user_name or "System"}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

            {# Right Column #}
            <div class="column-container" style="flex: 1 auto;">
                {# Current Positions #}
                <div class="inner-container" style="padding: 0.75rem;">
                    {# Header #}
                    <div class="section-header" style="padding: 0;">
                        <h3 style="margin-bottom: 0">Current Positions</h3>
                        {% if admin_access %}
                            <button class="button-primary" type="button" onclick="emsRelationAddShowForm()">
                                Assign Position
                            </button>
                        {% endif %}
                    </div>

                    <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">

                    <div class="positions-container">
                        {% for pos in employee.current_positions %}
                            <div class="inner-container position-item-container" id="position-relation-{{ pos.relation_uid }}">
                                <div>
                                    <h4>
                                        {{ pos.title }}<span style="font-weight: 300;">, {{ pos.brand }}</span>
                                    </h4>
                                    <p style="margin-bottom: 0;">
                                        Since {{ pos.start_date | ap_date }}
                                        <span style="font-size: 0.75rem;">({{ pos.start_date | time_since }})</span>
                                    </p>
                                </div>
                                {% if admin_access %}
                                    <div class="position-item-button-container">
                                        <button class="position-item-action-button form-initial-hide" type="button" title="Modify Assignment" onclick="emsRelationModifyShowForm('{{ pos.relation_uid }}')">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                        <a href="/ems/position/view/{{ pos.position_uid }}" target="_blank">
                                            <button class="position-item-action-button" type="button" title="View/Edit Position" style="color: var(--main-accent-color);">
                                                <i class="bi bi-briefcase"></i>
                                            </button>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {# Past Positions #}
                <div class="inner-container" style="padding: 0.75rem;">
                    {# Header #}
                    <div class="section-header" style="padding: 0;">
                        <h3 style="margin-bottom: 0">Past Positions</h3>
                    </div>

                    <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">

                    <div class="positions-container">
                        {% for pos in employee.past_positions %}
                            <div class="inner-container position-item-container" id="position-relation-{{ pos.relation_uid }}">
                                <div>
                                    <h4 style="margin-bottom: 0;">
                                        {{ pos.title }}<span style="font-weight: 300;">, {{ pos.brand }}</span>
                                    </h4>
                                    <p>
                                        {{ pos.start_date | ap_date }} – {{ pos.end_date | ap_date }}
                                        <span style="font-size: 0.75rem;">({{ pos.start_date | time_between(pos.end_date) }})</span>
                                    </p>
                                    <h4 style="margin-bottom: 0;">
                                        Departure Reason:
                                        <span style="font-weight: 300;">{{ pos.departure_reason }} ({{ pos.departure_category }})</span>
                                    </h4>
                                    {% if pos.departure_notes %}
                                        <p style="margin-bottom: 0;">
                                            "{{ pos.departure_notes }}"
                                        </p>
                                    {% endif %}
                                </div>
                                {% if admin_access %}
                                <div class="position-item-button-container">
                                    <button class="position-item-action-button form-initial-hide" type="button" title="Modify Assignment" onclick="emsRelationModifyShowForm('{{ pos.relation_uid }}')">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <a href="/ems/position/view/{{ pos.position_uid }}" target="_blank">
                                        <button class="position-item-action-button" type="button" title="View/Edit Position" style="color: var(--main-accent-color);">
                                            <i class="bi bi-briefcase"></i>
                                        </button>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endcall %}
</section>

<script>
    window.addEventListener('load', () => {
        const msg = sessionStorage.getItem("infoBarMessage");
        if (msg) {
            showInfoBar(msg);
            sessionStorage.removeItem("infoBarMessage"); // Clear it after showing
        }

        let submit_button = document.getElementById("submit_button");
        submit_button.style.display = "none"
    });

    // Show the modification form options
    function showModify() {
        const initial_show = document.querySelectorAll(".form-initial-show");
        const initial_hide = document.querySelectorAll(".form-initial-hide");

        let modify_button = document.getElementById("modify-button");
        let cancel_button = document.getElementById("cancel-button");
        let submit_button = document.getElementById("submit_button");

        modify_button.style.display = "none";
        cancel_button.style.display = "inline-block";
        submit_button.style.display = "inline-block";

        initial_show.forEach(elem => {
            elem.style.display = "none";
        });

        initial_hide.forEach(elem => {
            elem.style.display = "block";
        });
    }

    // Hide the modification form options
    function hideModify() {
        const initial_show = document.querySelectorAll(".form-initial-show");
        const initial_hide = document.querySelectorAll(".form-initial-hide");

        let modify_button = document.getElementById("modify-button");
        let cancel_button = document.getElementById("cancel-button");
        let submit_button = document.getElementById("submit_button");

        modify_button.style.display = "inline-block";
        cancel_button.style.display = "none";
        submit_button.style.display = "none";

        initial_show.forEach(elem => {
            elem.style.display = "block";
        });

        initial_hide.forEach(elem => {
            elem.style.display = "none";
        });
    }

    async function modifyEmployee(event) {
        event.preventDefault();
        console.log("Saving...");

        showLoading("Modifying Employee...");

        const formData = new FormData(event.target);

        const formEntries = Object.fromEntries(
            Array.from(formData.entries()).filter(([key, value]) => value !== "")
        );

        // Send the data to the backend endpoint
        let endpoint = "/ems/api/employee/{{ employee.uid }}/modify";
        const payload = {
            _csrf_token: "{{ csrf_token() }}",
            ...formEntries,
        };

        const response = await fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(payload),
        });

        // Check if it was successful
        if (response.status === 200) {
            // Trigger a reload of the window
            sessionStorage.setItem("infoBarMessage", "Employee successfully modified."); // Safe so we can display after reload
            window.location.reload();
        } else {
            // Alert of the error
            console.log("Modifying the employee failed!");

            try {
                const data = await response.json();
                const message = data.error || "An unknown error occurred.";

                console.error(message);
                hideLoading();
                await showTextAlert(header="There was an error:", body=message, buttonText="Dismiss");
            } catch (err) {
                const fallback = await response.text();
                hideLoading();
                await showTextAlert(header="Fatal Error:", body=fallback, buttonText="Dismiss");
            }
        }
    }
</script>

{% if admin_access %}
<script>
    // Delete the employee
    async function deleteEmployee() {
        console.log("Deleting...");

        result = await showButtonAlert(
            header="WARNING: Delete Employee?", 
            body="Are you sure you want to permanently delete this employee? \
            This action cannot be undone.\n\nIf the employee no longer works \
            for IMC, start the offboarding process or mark them as inactive \
            instead.", 
            alertButtonText="Yes, permanently delete", 
            cancelButtonText="Cancel"
        )

        if (!result) {
            hideLoading();
            return;
        }

        showLoading("Deleting Employee...");

        // Send the data to the backend endpoint
        let endpoint = "/ems/api/employee/{{ employee.uid }}/delete";
        const payload = {
            _csrf_token: "{{ csrf_token() }}",
        }

        const response = await fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(payload),
        });

        // Check if it was successful
        if (response.status === 200) {
            // Trigger a reload of the window
            sessionStorage.setItem("infoBarMessage", `{{ employee.full_name }} successfully deleted.`); // Save so we can display after reload
            window.location.assign("/ems/employees");
        } else {
            // Alert of the error
            console.log("Deleting the employee failed!");

            try {
                const data = await response.json();
                const message = data.error || "An unknown error occurred.";

                console.error(message);
                hideLoading();
                await showTextAlert(header="There was an error:", body=message, buttonText="Dismiss");
            } catch (err) {
                const fallback = await response.text();
                hideLoading();
                await showTextAlert(header="Fatal Error:", body=fallback, buttonText="Dismiss");
            }
        }
    }
</script>
{% endif %}

{% endblock %}