{% extends 'employee_management/ems_base.html' %}

{% block ems_title %}
    Add Employee
{% endblock %}

{% block ems_extra_head %}
    <link rel="stylesheet" href="/static/macros/form.css">

    <style>
        .employee-add-form {
            gap: 0.5rem;
        }

        .employee-add-form-row {
            flex-direction: column;
            align-items: flex-start;
            flex: 1 1 10rem;
        }

        .form-row-shrink {
            flex: 0 1 auto;
        }

        .narrow-row {
            flex: 1 1 4rem;
        }

        .row-vertical-flex {
            flex: 1;
        }

        .column-container {
            display: flex; 
            flex-direction: column;
            gap: 0.5rem; 
            flex-wrap: wrap;
            flex: 1 1 20rem;
        }

        .inner-container {
            flex: 1 1;
        }
    </style>
{% endblock %}

{% import "macros/form.html" as form %}
{% include "partials/loading.html" %}
{% include "partials/text_alert.html" %}
{% include "partials/info_bar.html" %}

{% block ems_content %}
<div style="display: flex; flex-direction: row; gap: 2rem; align-items: center;">
    <a href="/ems/employees" style="color: inherit; font-size: 2rem;">
        <i class="bi bi-arrow-left"></i>
    </a>
    <h2>Upload a CSV</h2>
</div>

<hr>

<section class="section-container">
    {% call form.form(id="employeeFileAddForm", class="employee-file=add-form", enctype="multipart/form-data", on_submit="return submitEmployees(event)") %}
        <div style="display: flex; flex-direction: row; gap: 2rem; align-items: center;">
            <div class="column-container">
                <div class="inner-container" style="padding: 0.75rem;">
                    This form accepts .csv files with the following columns:  <br/> <br/>
                    
                    `last_name` (`str`): The employee's last name <br/>
                    `first_name` (`str`): The employee's first name <br/>
                    `pronouns` (`str`): The employee's pronouns <br/>
                    `imc_email` (`str`): The employee's IMC email address <br/>
                    `personal_email` (`str`): The employee's personal (non-IMC) email address <br/>
                    `phone_number` (`str`): The employee's personal phone number <br/>
                    `permanent_address_1` (`str`): The employee's permanent street address (number & street) <br/>
                    `permanent_address_2` (`str`): The employee's permanent street address (suite, apartment, etc.) <br/>
                    `permanent_city` (`str`): The employee's permanent city <br/>
                    `permanent_state` (`str`): The employee's permanent state <br/>
                    `permanent_zip` (`str`): The employee's permanent ZIP code <br/>
                    `birth_date` (`date`): The employee's date of birth <br/>
                    `payroll_number` (`int`): The employee's payroll number (if applicable) <br/>
                    `initial_hire_date` (`date`): The date that the employee was first hired <br/>
                    `status` (`str`): The employee's current status <br/>
                    `major` (`str`): The employee's major <br/>
                    `major_2` (`str`): The employee's (optional) second major <br/>
                    `major_3` (`str`): The employee's (optional) third major <br/>
                    `minor` (`str`): The employee's minor <br/>
                    `minor_2` (`str`): The employee's (optional) second minor <br/>
                    `minor_3` (`str`): The employee's (optional) third minor <br/>
                    `graduation` (`str`): The employee's expected graduation term <br/> <br/>

                    Make sure to follow this pattern exactly in your .csv file's heading to avoid errors.
                    <div id="csv-error"></div>
                </div>
            </div>
            <div class="column-container">
                <div class="inner-container" style="padding: 0.75rem;">
                    <div class="inner-container" style="padding: 0.75rem;">
                        {{ form.file_input("file_input", ".csv") }}
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: row; gap: 2rem; align-items: center;">
            <div style="text-align: center;">
                {{ form.submit_button(text="Create Employees", label="submit_button") }}
            </div>
        </div>
    {% endcall %}
</section>
<script>
    async function submitEmployees(event) {
        event.preventDefault();
        console.log("Saving...");

        showLoading("Modifying Employee...");

        const formData = new FormData(event.target);
        formData.append("_csrf_token", "{{ csrf_token() }}");

        // Send the data to the backend endpoint
        let endpoint = "/ems/api/employee/create/bulk";

        const response = await fetch(endpoint, {
            method: 'POST',
            body: formData,
        });

        // Check if it was successful
        if (response.status === 200) {
            // Trigger a reload of the window
            sessionStorage.setItem("infoBarMessage", "Employee successfully modified."); // Safe so we can display after reload
            window.location.reload();
        } else {
            // Alert of the error
            console.log("Modifying the employee failed!");

            try {
                const data = await response.json();
                const message = data.error || "An unknown error occurred.";

                console.error(message);
                hideLoading();
                await showTextAlert(header="There was an error:", body=message, buttonText="Dismiss");
            } catch (err) {
                const fallback = await response.text();
                hideLoading();
                await showTextAlert(header="Fatal Error:", body=fallback, buttonText="Dismiss");
            }
        }
    }
</script>

{% endblock %}
