.doc-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.doc-item {
    border-radius: var(--main-border-radius);
    padding: 0.75rem 1rem;
    background-color: var(--main-bg-color);
    box-shadow: var(--main-box-shadow);
    cursor: pointer;
    transition: 0.2s;
}

.doc-item:hover {
    background-color: var(--main-lt-gray-color);
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9997;
}

.modal-content {
    background: var(--main-bg-color);
    border-radius: var(--main-border-radius);
    padding: 1rem;
    width: 80%;
    max-width: 60vw;
    border: none !important;
    box-shadow: var(--main-box-shadow);
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.signature {
    font-family: "Brush Script MT";
    font-size: 2rem;
    color: var(--main-text-color);
    margin-top: 10px;
}
