.main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.upper-container {
    display: flex; 
    flex-direction: row; 
    gap: 2rem; 
    align-items: flex-start
}

.tool-category-admin {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-content: start;
    grid-auto-rows: 1fr;
}

.tool-category-header {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 1rem; 
    margin-bottom: 0.5rem
}

.tool-item-container-admin {
    background-color: var(--main-bg-color);
    border-radius: var(--main-border-radius);
    padding: 0.75rem;
}

.tool-button-container {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    margin-left: auto;
}

.tool-button-admin {
    display: flex;
    border: none;
    background-color: inherit;
    align-content: center;
    justify-content: center;
    padding: 0.25rem;
    height: 2rem;
    width: 2rem;
    border-radius: 1.5rem;

    transition: background-color .15s ease-in-out;
}

.tool-button-admin:hover {
    background-color: var(--main-lt-gray-color);
}

.tool-item-icon-admin {
    color: var(--main-accent-color);
    font-size: 1rem;
}

.tool-item-info-header {
    display: inline-block;
    margin-right: 0.5rem;
    margin-bottom: 0;
}

@media (max-width: 480px) {
    .tool-category-admin {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .upper-container {
        flex-direction: column;
    }

    .mobile-stretch {
        width: 100%
    }
}