/* Overall form styling */
.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.field-label {
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    white-space: nowrap;
}

.subtext {
    margin-bottom: 0;
}

.submit-button {
    align-self: flex-start;
}
/* ——————————————————————————————————————————————— */

/* Switch input field */
.form-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.form-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.form-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .form-slider {
  background-color: #2196F3;
}

input:focus + .form-slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .form-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.form-slider.form-round {
  border-radius: 34px;
}

.form-slider.form-round:before {
  border-radius: 50%;
}

/* ——————————————————————————————————————————————— */

/* Text input field */
.text-input {
    padding: 0.25rem 0.5rem;
    border-radius: var(--main-border-radius);
    border: 1px solid var(--main-md-gray-color);
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    width: 100%;
}

input[type="date"].text-input {
    -webkit-appearance: none;
    appearance: none;

    background-color: var(--main-bg-color);
    color: inherit;

    padding: 0.25rem 0.5rem;
    min-height: 1.5rem;

    font-family: inherit;
    font-size: 1rem;
}

/* ——————————————————————————————————————————————— */

/* Radio input field */
.radio-input-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.radio-input {
    accent-color: var(--main-accent-color);
}

.radio-label {
    margin-left: 0.25rem;
}
/* ——————————————————————————————————————————————— */

/* Select input field */
.select-input {
    position: relative;
}
.select-input select{
    padding: 0.25rem 0.75rem;
    border-radius: var(--main-border-radius);
    border: 1px solid var(--main-md-gray-color);
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    margin-right: 1.5rem;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.select-input .select-dropdown-icon {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: var(--main-md-gray-color);
    font-size: 1rem;
    line-height: 1;
}
/* ——————————————————————————————————————————————— */

/* Text area input field */
.textarea-input {
    padding: 0.25rem 0.5rem;
    border-radius: var(--main-border-radius);
    border: 1px solid var(--main-md-gray-color);
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    width: 100%;
}
/* ——————————————————————————————————————————————— */

/* ---- input field */
/* ——————————————————————————————————————————————— */


