on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to Google App Engine
    runs-on: ubuntu-latest
    environment: prod
    permissions:
        contents: 'read'
        id-token: 'write'
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
      - id: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: 'projects/983096734619/locations/global/workloadIdentityPools/github-actions/providers/deploy'
          service_account: 'deploy@central-backend-399421.iam.gserviceaccount.com'
      - id: 'deploy'
        uses: 'google-github-actions/deploy-appengine@v1'
        with:
          env_vars: |-
            ENV=prod
            SECRET_KEY=${{ secrets.SECRET_KEY }}
            GOOGLE_CLIENT_ID=${{ secrets.GOOGLE_CLIENT_ID }}
            GOOGLE_CLIENT_SECRET=${{ secrets.GOOGLE_CLIENT_SECRET }}
            GOOGLE_MAP_API=${{ secrets.GOOGLE_MAP_API }}
            REDDIT_PASSWORD=${{ secrets.REDDIT_PASSWORD }}
            REDDIT_CLIENT_ID=${{ secrets.REDDIT_CLIENT_ID }}
            REDDIT_CLIENT_SECRET=${{ secrets.REDDIT_CLIENT_SECRET }}
            TWITTER_API_KEY=${{ secrets.TWITTER_API_KEY }}
            TWITTER_API_KEY_SECRET=${{ secrets.TWITTER_API_KEY_SECRET }}
            TWITTER_ACCESS_TOKEN=${{ secrets.TWITTER_ACCESS_TOKEN }}
            TWITTER_ACCESS_TOKEN_SECRET=${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
            SLACK_BOT_TOKEN=${{ secrets.SLACK_BOT_TOKEN }}
            SLACK_SIGNING_SECRET=${{ secrets.SLACK_SIGNING_SECRET }}
            RECAPTCHA_SECRET_KEY=${{ secrets.RECAPTCHA_SECRET_KEY }}
            CC_CLIENT_ID=${{ secrets.CC_CLIENT_ID }}
            CC_CLIENT_SECRET=${{ secrets.CC_CLIENT_SECRET }}
            RETOOL_API_KEY=${{ secrets.RETOOL_API_KEY }}
            FOOD_TRUCK_MAPS_ID=${{ secrets.FOOD_TRUCK_MAPS_ID }}

  build:
    name: Start Schedulers
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Start Schedulers
        run: |
          curl -X GET "https://central-backend-399421.uc.r.appspot.com/schedulers"